body, div, span, object, iframe,
h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:10;
    border:0;
    outline:0;
    vertical-align:baseline;
}

html {
    border-radius: 5px;
    background-color: #6688a3;
    padding: 20px;
    color: #182331;
}
/* Style the heading */
h1, h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    color: #01489b;
}

p {
    font-size: 1.3em;
}

p.vid {
    padding: 15px;
    align-content: center;
    text-align: center;
    font-size: 1.3em;
}

/* styling the input area from here to all the way till password input */

input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    font-style: italic;
}


input[type=date], textarea{
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
 display: inline-block;
    font-size: 1em;
    font-style: italic;
}

input[type=email], textarea{
    width: 100%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    font-style: italic;


}

input[type=password], textarea{
    width: 120%;
    padding: 5px;
    border: 3px solid #acacac;
    border-radius: 10px;
    box-sizing: border-box;
     display: inline-block;
    font-size: 1em;
    font-style: italic;

}


label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
    font-size: 1.05em;
    font-weight: 900;
}

input[type=submit] {
    background-color:#01489b;
    color: white;
    padding: 12px 20px;
    border-radius: 100px;
    cursor: pointer;
    
}

.location {
    text-align: left;
    padding: 200px;
    font-size: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    color:#01489b;
    text-decoration: underline;
    line-height: 2.0px;
    
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
    
}



body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}


ul li{
    display: inline-block;
    line-height: 100px;

}

ul li a { 
    font-size: 14px;
    color: aqua;
    padding: 120px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content:none;
}


header {
    background: #446086;
    border: solid 5px #474d54;
}

header::after {
    content:'';
    display: table;
    clear: both;
}


.logo {

    float: left;
    padding:10px 0;
    height: 10em;
    width: 10m;
    /* for logo*/
}
/* for nav bar*/
nav {
    float: right;
    text-align: center;
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {

    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    position: relative;
}

nav a {
    display: inline-block;
    color: #182331;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

nav a:hover {
    color: #000;
}

nav a:before {
    content:'';
    display:block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;

}

nav a:hover::before {
    width: 100%;
}


.foot {
    text-align: center;
    align-content: center;
    font-size: 30px;
    color:darkblue;
}


/* for hovering over submit*/
input[type=submit]:hover {
    background-color: #002b5d;
}

iframe.border {
    float: left;
    padding: 5px;
    border: solid 5px #474d54;
}

/*.border {
    float: left;
    padding: 5px;
    border: solid 5px #474d54;
}*/


.img {
    padding: 5px;
    height: 307px;
    width: 480px;
    float: right;
    border: solid 5px #474d54;
}

.section {
    padding: 50px 25px;
}

.border {
    padding: 15px;
}

.column {
	float: left;
	width: 600px;
	margin-top: 6px;
}

input, textarea{
	width: 100%;
}



/* Media Queries  */

@media screen and (max-width: 480px) {
  .column, .location, input[type=submit] {
    width: 100%;
    margin-top: 0;
    
  }
  
  iframe.border {
    width: 450px;
    height: 253px;
    align-content: center;
  }
}

@media screen and (max-width: 780px) {
  .column, .location ,input[type=submit] {
    width: 100%;
    margin-top: 0;
    padding: 15px 15px 15px 15px;  
  }
  
  .taking, h1, input[type=submit], input[type=text], textarea {
    width: 100%;
    margin-top: 0;

  }
}

@media screen and (min-width: 780px){
    input[type=submit]{
        width:30%;
        padding: 15px 15px 15px 15px;
    
    }
    
    iframe.border {
    width: 560px;
    height: 315px;
    align-content: center;
  }


}

